[submodule "FastMM4"]
	path = FastMM4
	url = https://github.com/pleriche/FastMM4.git
[submodule "DDetours"]
	path = DDetours
	url = https://github.com/MahdiSafsafi/DDetours.git
[submodule "VCLStyles"]
	path = VCLStyles
	url = https://github.com/RRUZ/vcl-styles-utils.git
[submodule "Spring4D"]
	path = Spring4D
	url = https://bitbucket.org/sglienke/spring4d.git
[submodule "PyScripterSynEdit"]
	path = PyScripterSynEdit
	url = https://github.com/pyscripter/SynEdit.git
