[submodule "FastMM4"]
	path = FastMM4
	url = https://github.com/pleriche/FastMM4.git
[submodule "DDetours"]
	path = DDetours
	url = https://github.com/MahdiSafsafi/DDetours.git
[submodule "VCLStyles"]
	path = VCLStyles
	url = https://github.com/RRUZ/vcl-styles-utils.git
